.form {
  display: grid;
  grid-template-rows: 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
  place-items: center;

  /* border-radius: 2rem; */
  background-color: var(--color-neutral-bg);
  color: var(--color-primary);
  padding: 0.75rem;
  border-radius: 1rem;
}

.form__submit {
  color: var(--color-neutral-bright);
  background: var(--color-secondary);
  border-radius: 24px;
  padding: 0.85em 2.75em;
  border: none;
  text-align: center;
  letter-spacing: 0.235em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
}

.form__submit:disabled {
  opacity: 20%;
}

.form__submit:hover {
  opacity: 50%;
  cursor: pointer;
}

.form__submit:disabled:hover {
  opacity: 20%;
  cursor: not-allowed;
}

.form__text {
  border: none;
  background-color: var(--color-neutral-bg);
  color: var(--color-bright);
  padding: 0.5rem 0;
}
