@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #0341ba;
  --color-primary-grade: #7f9fcb;
  --color-secondary: #ef6d0a;
  --color-secondary-grade: #efa975;
  --color-text: #373737;
  --color-neutral: #939393;
  --color-neutral-bg: #ebebeb;
  --color-neutral-bright: #fafafa;
}

h1,
h2,
h3,
p,
a,
.icon-text {
  font-family: Inter, sans-serif;
  margin: 0;
}

h1 {
  color: var(--color-primary);
  font-size: 2rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-primary);
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-text);
}

p {
  color: var(--color-text);
}

.icon-text {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

body {
  margin: 0;
  padding: 20px;
}

button {
  color: var(--color-neutral-bright);
  background: var(--color-primary);
  border-radius: 1.5rem;
  padding: 0.85em 2.75em;
  border: none;
  text-align: center;
  letter-spacing: 0.235em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
}

.menubar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.button__inactive {
  color: var(--color-primary);
  background: var(--color-neutral-bright);
  border: 1px solid var(--color-primary);
}

.link {
  color: var(--color-primary);
  background: var(--color-neutral-bright);
  border: 1px solid var(--color-primary);
}
