.wrapper {
  display: grid;
  grid-template-rows: 15% 60% 1fr 15%;
  height: 100vh;
}

.title {
  margin-left: 1.25rem;
  margin-top: 1.75rem;
}

.image {
  width: 80%;
  object-fit: scale-down;
  justify-self: center;
}

.menubar {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}

.uploadwrapper {
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.button__inactive {
  color: var(--color-primary);
  background: var(--color-neutral-bright);
  border: 1px solid var(--color-primary);
}

.button__scan {
  background-color: var(--color-secondary);
  justify-self: center;
  align-self: center;
}

.button__scan:disabled {
  opacity: 20%;
}
