.wrapper {
  display: grid;
  grid-template-rows: 60% 1fr;
}

.title {
  margin-left: 1.25rem;
  margin-top: 1.75rem;
}

.image {
  width: 80%;
  object-fit: scale-down;
  justify-self: center;
}

.uploadwrapper {
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.button__scan {
  background-color: var(--color-secondary);
  justify-self: center;
  align-self: center;
}

.button__scan:disabled {
  opacity: 20%;
}
