.wrapper {
  display: grid;
  grid-template-rows: 20% 80%;
}

.title {
  margin-left: 1.25rem;
  margin-top: 1.75rem;
}

.button__scan {
  background-color: var(--color-secondary);
  justify-self: center;
}

.button__scan:disabled {
  opacity: 20%;
}

.content {
  height: 100%;
  overflow: scroll;
  margin: 0 1rem 1rem;
}
